/* Global */
:root {
  /* Color */
  --color-yellow: #ffdc43;
  --color-light-yellow: #ffeda8;
  --color-dark-yellow: #fd8209;
  --color-white: #ffffff;
  --color-black: #292a3d;
  --color-grey: #eeeef2;
  --color-light-red: #ff4d60;
  --color-dark-red: #bc2047;

  /* Font size */
  --font-medium: 1.5rem;
  --font-regular: 1.2rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-regular: 400;

  /* Size */
  --padding-item: 0.75em;

  /* Border */
  --border: solid 2px var(--color-black);
  --border-radius: 8px;

  /* Shadow */
  --shadow-on-white: 0px 2px 2px hsla(236, 7%, 59%, 0.3),
    0px 4px 14px hsla(236, 7%, 59%, 0.6);
}

* {
  box-sizing: border-box;
}

body,
button,
select,
input {
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100vh;
  margin: 0;
  background-color: var(--color-yellow);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Common */
.container {
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.header {
  padding: 1em;
  border-bottom: var(--border);
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn {
  padding: 0.5em 1em;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

/* Main container */
.shopping {
  width: 70%;
  max-width: 62.5rem;
}

/* Header */
.shopping__header {
  position: relative;
}

.shopping__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.shopping__clear {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  border-color: var(--color-dark-red);
  background-color: var(--color-light-red);
  color: var(--color-white);
}

.shopping__clear:hover {
  border-color: var(--color-light-red);
  background-color: var(--color-dark-red);
}

/* List */
.shopping__list {
  padding: 1em;
}

.shopping__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  border: var(--border);
  border-color: var(--color-light-yellow);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--shadow-on-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.item__category {
  padding: var(--padding-item);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background-color: var(--color-dark-yellow);
  color: var(--color-white);
}

.item__name {
  text-align: start;
  width: 100%;
  padding: var(--padding-item);
}

.item__btns {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-item);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: var(--color-light-yellow);
}

.item__btn {
  font-size: var(--font-regular);
}

.item__btn:hover {
  color: var(--color-dark-yellow);
}

/* Form */
.shopping__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-top: var(--border);
}

.form__select,
.form__input {
  padding: 0.5em;
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--shadow-on-white);
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
}

.form__select {
  border-color: var(--color-light-yellow);
  background-color: var(--color-dark-yellow);
  color: var(--color-white);
}

.form__input {
  width: 100%;
  margin: 0 0.5em;
  border-color: var(--color-black);
  color: var(--color-black);
}

.form__btn {
  background-color: var(--color-black);
  box-shadow: var(--shadow-on-white);
  color: var(--color-white);
}

.form__btn:hover {
  opacity: 0.9;
}

/* Sidebar */
.categories__header {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.categories__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.category {
  text-align: start;
  padding: 0.75em;
  background-color: var(--color-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.category__checkbox {
  margin-right: 0.5em;
}

/* For screen width below 48rem */
@media screen and (max-width: 48rem) {
  body {
    flex-direction: column;
    padding: 1em;
  }

  .shopping {
    width: 100%;
  }

  .categories__header {
    display: none;
  }

  .categories__list {
    flex-direction: row;
  }
}
