/* Global */
:root {
  /* Color */
  --color-yellow: #ffdc43;
  --color-light-yellow: #ffeda8;
  --color-dark-yellow: #fd8209;
  --color-white: #ffffff;
  --color-black: #292a3d;
  --color-grey: #eeeef2;
  --color-light-red: #ff4d60;
  --color-dark-red: #bc2047;

  /* Font size */
  --font-medium: 1.5rem;
  --font-regular: 1.2rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-regular: 400;

  /* Border */
  --border: solid 2px var(--color-black);
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

body,
button,
select,
input {
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100vh;
  margin: 0;
  background-color: var(--color-yellow);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Common */
.container {
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.header {
  padding: 1em;
  border-bottom: var(--border);
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn {
  padding: 0.5em 1em;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

/* Main container */
.shopping {
  width: 70%;
  max-width: 62.5rem;
}

/* Header */
.shopping__header {
  position: relative;
}

.shopping__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.shopping__clear {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  border-color: var(--color-dark-red);
  background-color: var(--color-light-red);
  color: var(--color-white);
}

.shopping__clear:hover {
  border-color: var(--color-light-red);
  background-color: var(--color-dark-red);
}
